body {
    background-color: rgb(31, 31, 31);
    color: #fff;
    font-family: monospace;
    padding: 30px;
}

.cli-text {
    font-size: 20px;
    color: #fff;
}

.social-media-link {
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    margin-left: 30px;
}

.cli-home {
    font-weight: 600;
    color: #0f0;
}

.cli-home-path {
    font-weight: 600;
    color: #3b78ff;
}

.languages-tech {
    margin-left: 30px;
}
